@import "vendor/bootstrap/assets/stylesheets/bootstrap";

#logo {
  height: 100px;
  background: #005CB9;
}

#content {
}

#grid {

}

.block {

  background: gray;
  position: absolute;

  &:hover {
    background: black;
  }
}



body {
  font-family: 'Roboto', sans-serif;
}

#content {

}

#featured {

}

.site-header {
  padding: 80px 0 50px 0;
  text-align: center;
  background: #f5f5f5;
  border-bottom: 1px solid #ddd;
}

.navbar-brand {
  position: absolute;
  width: 100px;
  height: 100px;
}

.action-bar {
  padding: 15px 0;
}

.panel-heading {
  text-align: center;
}

.stream {
  text-align: center;
  background-color: #f5f5f5;
}

ul.stream-nav {
  list-style: none;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

ul.stream-nav > li {
  display: inline-block;
  margin-bottom: -1px;
  padding: 10px 15px;
}

ul.stream-nav > li:hover {
  border-bottom: 2px solid #000;
}

ul.stream-nav > li.brand-hashtag {
  font-size: 22px;
  font-weight: 700;
  margin-right: 20px;
}

ul.stream-nav > li.brand-hashtag:hover {
  border: none;
}

.panel-title > i {
  margin-right: 8px;
}

.admin {
  position: absolute;
  top: 3px;
  right: 10px;
}

/* The controlsy */
.carousel-control {
	left: -20px;
    height: 40px;
	  width: 40px;
    background: none repeat scroll 0 0 #222222;
    border: 4px solid #FFFFFF;
    border-radius: 23px 23px 23px 23px;
    margin-top: 110px;
}
.carousel-control.right {
	right: -20px;
}

/* Facebook */
a.facebook i,.facebook h4.list-group-item-heading { color:#3b5998; }
a.facebook:hover { background-color:#3b5998; border-color:#3b5998; }
a.facebook:hover * { color:#FFF; }
/* Google */
a.google-plus i,.google-plus h4.list-group-item-heading { color:#dd4b39; }
a.google-plus:hover { background-color:#dd4b39; border-color:#dd4b39; }
a.google-plus:hover * { color:#FFF; }
/* Twitter */
a.twitter i,.twitter h4.list-group-item-heading { color:#00acee; }
a.twitter:hover { background-color:#00acee; border-color:#00acee; }
a.twitter:hover * { color:#FFF; }
/* Instagram */
a.instagram i,.instagram h4.list-group-item-heading { color:#3f729b; }
a.instagram:hover { background-color:#3f729b; border-color:#3f729b; }
a.instagram:hover * { color:#FFF; }
/* Linkedin */
a.linkedin i,.linkedin h4.list-group-item-heading { color:#0e76a8; }
a.linkedin:hover { background-color:#0e76a8; border-color:#0e76a8; }
a.linkedin:hover * { color:#FFF; }
/* Tumblr */
a.tumblr i,.tumblr h4.list-group-item-heading { color:#34526f; }
a.tumblr:hover { background-color:#34526f; border-color:#34526f; }
a.tumblr:hover * { color:#FFF; }
/* Youtube */
a.youtube i,.youtube h4.list-group-item-heading { color:#c4302b; }
a.youtube:hover { background-color:#c4302b; border-color:#c4302b; }
a.youtube:hover * { color:#FFF; }
