$brand-primary: #005CB9;
$brand-secondary: lighten( $brand-primary, 50% );

@import "vendor/bootstrap/assets/stylesheets/bootstrap";


// Weird fix
.input-group-btn {
	.btn {
		height: 34px;
	}
}

.hidden {
  display: none;
}

.flash {
  position: absolute;
  top: 10%;
  right: 10%;
  z-index: 9999;
}

#logo {
  height: 100px;
  background: #005CB9;
}

.partners img {
  min-width: 100px;
  min-height: 100px;
  display: block;
  margin: 0 auto;
}

/***************************
****************************

GLOBAL STYLES:

****************************
***************************/


ul.row {
  list-style: none;
  padding: 0;
  margin-bottom: 0;

  &+ul.row {
    border-top: 2px solid rgba(0,0,0,0.1);
  }

  > li[class*='col-'] {
    padding: 0;

    &:last-child {
      border-right: none;
    }

    .inner {
      margin: 0 auto;
      padding: 20px;

      @media (min-width: $screen-lg) {
        //padding: 20px;
      }
      @media (min-width: 800px) {
        //max-width: 100%;
      }
      @media (min-width: 1200px) {
        max-width: 90%;
      }
      @media (min-width: 1500px) {
        max-width: 80%;
      }

    }

    @media (min-width: $screen-sm) {
      border-right: 2px solid rgba(0,0,0,0.1);

      &:first-child {
        &[class*='col-md-push-'] {
          border-right: none;
        }
      }

      &:last-child {
        &[class*='col-md-pull-'] {
          border-right: 2px solid rgba(0,0,0,0.1);
        }
      }
    }
  }
}

.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
  padding-right: 0;
  padding-left: 0;
}

.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}


.alt {
  background: #f5f5f5;
}

.list {
  background: #f5f5f5;
  .panel-heading {
    background: #fff;
  }
}


a {
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  transition: all .2s ease;
}


.form-control {
  background: #fff;
  border: none;
  border-radius: 0;
  border-bottom: 2px solid rgba(0,0,0,0.2);
  box-shadow: none;
  &:focus {
    border-color: $brand-primary;
    box-shadow: none;
  }
}

textarea.form-control {
  border-radius: 4px;
  border: 2px solid rgba(0,0,0,0.2);
}

.input-group-addon {
  color: $brand-primary;
  background: #fff;
  border: none;
  border-radius: 0;
  border-bottom: 2px solid #fff;
}


.panel-title {
  font-size: 18px;

  span:first-child {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 35px;
    text-align: center;
    margin-right: 15px;
    border-radius: 50%;
    border-width: 2px;
    border-style: solid;
  }
}


/***************************
****************************

HEADER STYLES:

****************************
***************************/


.navbar-custom {
  text-align: center;
  background-color: $brand-primary;
  margin-bottom: 0;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);

  a {
    color: #fff;
    //margin-bottom: -1px;
  }

  li {

   a {
		color: rgba(255,255,255,0.6);
    border-bottom: 3px solid transparent;

  		&:hover, &.active {
        color: #fff;
  			background: none;
  		}
    }

    &.active {
      a {
        color: #fff;
        //border-color: #fff;
      }
    }
  }

  .navbar-toggle > .icon-bar {
		background-color: #fff;
	}
}

.login {
  position: absolute;
  top: -150px;
  width: 100%;
  text-align: center;
  background: #f5f5f5;
  border-bottom: 2px solid rgba(0,0,0,0.1);
  -webkit-transition: all 0.6s ease-in-out;
     -moz-transition: all 0.6s ease-in-out;
       -o-transition: all 0.6s ease-in-out;
          transition: all 0.6s ease-in-out;

  .alert {
    //margin-top: -1px;
    margin-bottom: 0;
    //background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHklEQVQIW2NkQAWSjEh8SSD7OUwAzAFJggTgHJAAAEkuAx5OdRJCAAAAAElFTkSuQmCC) repeat;
  }

  .form-control {
    background: #f5f5f5;
  }

  .input-group-addon {
    background: #f5f5f5;
    border-color: #f5f5f5;
  }

  .close {
    position: absolute;
    bottom: 22px;
    right: 10px;
  }
}

.nav > li.settings > a {
  display: none;
  color: rgba(0,0,0,0.6)
}

.open {
  top: 50px;
  z-index: 3;
}


/***************************
****************************

LATEST NEWS STYLES:

****************************
***************************/
.type, .date {
  color: rgba(0,0,0,0.4);
}

.feed-list {
  padding: 0 5px;
  .list-group-meta{
    margin-bottom: 5px;
    .type {
      float: right;
    }
  }

  .type, .date {
    color: rgba(0,0,0,0.4);
  }

  .list-group-item {
    background-color: transparent;
    border: none;
    border-radius: 0;
    margin-bottom: 0px;
    border-bottom: 1px solid rgba(0,0,0,0.1);

    &:hover {
      background-color: rgba(255,255,255,0.9);
      border-color: transparent;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    }

    &.active {
      background-color: $brand-primary;
    }
  }
}

.nav-pills {
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  li {

   a {
    color: rgba(0,0,0,0.4);
    font-size: 12px;
    font-weight: 700;
    margin-bottom: -2px;
    background: none;
    border-radius: 0;
    border-bottom: 3px solid transparent;

      &:hover, &.active {
        color: rgba(0,0,0,0.8);
        background: none;
        //border-color: rgba(0,0,0,0.6);
      }
    }

    &.active {
      a {
        color: rgba(0,0,0,0.8);
        background: none;
        border-bottom: 3px solid $brand-primary;

        &:hover, &.active {
          color: rgba(0,0,0,0.8);
          background: none;
        }
      }
    }
  }
}

.view-more {
  text-align: center;
  padding: 0;
  //background: #fff;
  margin-top: 10px;
  //border-top: 1px solid rgba(0,0,0,0.1);

  li {
    display: inline-block;
    width: 30%;
    padding: 15px 0;

    &:hover {
      background: #fff;
    }
    &:first-child {
      float: left;
      //border-right: 1px solid rgba(0,0,0,0.1);
    }
    &:last-child {
      float: right;
      //border-left: 1px solid rgba(0,0,0,0.1);
    }

    a {
      display: block;
    }
  }

}
